DEBUG=True
SECRET_KEY=django-insecure-warimitra-secret-key-change-in-prod

# Database Config
DATABASE_URL=postgres://user:password@host:5432/dbname

# ==========================================
# AWS S3 Storage Credentials Configuration
# ==========================================
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_STORAGE_BUCKET_NAME=warimitra-s3-bucket
AWS_S3_REGION_NAME=ap-south-1
# AWS_S3_CUSTOM_DOMAIN=warimitra-bucket.s3.amazonaws.com